{% extends "layout.html" %}

{% block title %}
    User Dahboard
{% endblock %}

{% block main %}
    <h1 class="text-4xl text-mainBlack my-5 ml-2 font-bold">Dahboard</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 font-semibold">
        <!-- user infos -->
        <div class="md:grid-cols-2 bg-white rounded-lg p-2 shadow gap-2">
            <a 
                href="/profile"
                class="flex flex-col justify-around items-center gap-2"
            >
                <div class="h-16 w-16 border-mainColor rounded-full">
                    <img class="w-full rounded-full" src="{{ userinfo.image }}" alt="user's profile picture">
                </div>
                <h3 class="text-mainBlack">{{ userinfo.username }}</h3>
            
                <h3 class="text-mainBlack">{{ userinfo.email }}</h3>
            </a>
        </div>

        <!-- overall score -->
        <div class="bg-white rounded-lg p-2 flex flex-col justify-around items-center shadow gap-2">
            <div class="flex justify-center items-center h-16 w-16 text-blue-500 bg-blue-100 rounded-full">
                <svg aria-hidden="true" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253" />
                </svg>
              </div>
            <h3>Your Overall Score</h3>
            <h3>{{ "%.2f"|format(userinfo.overall_score|round(2)) }}</h3>
        </div>
        
        <!-- number of correct answers -->
        <div class="bg-white rounded-lg p-2 flex flex-col justify-around items-center shadow gap-2">
            <div class="flex justify-center items-center h-16 w-16 text-green-500 bg-green-100 rounded-full">
                <svg aria-hidden="true" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6" />
                </svg>
            </div>
            <h3>Your Correct Answers</h3>
            <h3>{{ answer_statistics.correct_answers }}</h3>
        </div>
        
        <!-- number of incorrect answers -->
        <div class="bg-white rounded-lg p-2 flex flex-col justify-around items-center shadow gap-2">
            <div class="flex justify-center items-center h-16 w-16 text-red-500 bg-red-100 rounded-full">
                <svg aria-hidden="true" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 17h8m0 0V9m0 8l-8-8-4 4-6-6" />
                </svg>
            </div>
            <h3>Your Incorrect Answer</h3>
            <h3>{{ answer_statistics.incorrect_answers }}</h3>
        </div>
        
        <!-- user's daily contrubitions -->
        <div class="md:col-span-2 lg:col-span-2 bg-white rounded-lg p-2 flex flex-col justify-start text-center shadow gap-2">
            <h1 class="text-xl font-bold mb-4">Your daily Contributions</h1>
            <div class="w-full bg-white mx-auto p-2 border-2 border-mainColor rounded-lg">
                <div id="data" data-message="{{ user_history }}"></div>
                <canvas id="myChart"></canvas>
            </div>
        </div>

        <!-- score of every single category -->
        <div class="bg-white rounded-lg p-2 flex flex-col justify-start shadow gap-2">
            <h1 class="text-xl font-bold mb-4 text-center">Your Categories Score</h1>
            {% for category in user_categories_score %}
            <div class="flex flex-row justify-between items-center p-1">
                <h3 class="m-2">{{ category.category_name }}</h3>
                <h3 class="m-2">{{ "%.2f"|format(category.avg_score|round(2)) }} / 10</h3>
            </div>
            <hr>
            {% endfor %}
        </div>

        <!-- users rank -->
        <div class="bg-white rounded-lg p-2 flex flex-col justify-start shadow gap-2">
            <h1 class="text-xl font-bold mb-4 text-center">Rank of Top 10</h1>
            <div class="overflow-y-auto max-h-[420px]">
                {% for rank in ranks %}
                <div class="flex flex-row justify-between items-center p-1">
                    <div class="w-12">
                        <img class="w-full rounded-full" src="{{ rank.image }}" alt="user's profile picture">
                    </div>
                    <h3 class="text-sm font-semibold text-mainBlack">{{ rank.username }}</h3>
                    <h3 class="text-sm font-semibold text-mainBlack">{{ "%.2f"|format(rank.overall_score|round(2)) }}</h3>
                </div>
                <hr>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}