{% extends "homeLayout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <!-- header -->
    <header class="bg-gray-50 rounded-3xl my-5">
        <div class="mx-auto max-w-screen-xl px-4 py-20 lg:flex lg:h-fit lg:items-center gap-10">
          <div class="mx-auto max-w-xl text-center">
            <h1 class="text-3xl font-extrabold sm:text-5xl my-5">
              Git Quizzes.
              <strong class="font-extrabold text-mainColor sm:block">
                Daily Challenges, Rank Up, <span class="text-secondayColor">Conquer Friends!</span>
              </strong>
            </h1>
      
            <p class="sm:text-xl/relaxed my-10">
                Git Quizzes invites you to a daily challenge of wit and wisdom! Answer questions, conquer categories, and climb the ranks to assert your knowledge supremacy.
            </p>
      
            <div class="flex flex-wrap justify-center gap-4 my-10">
              <a
                class="block w-full rounded-lg bg-mainColor px-12 py-3 text-sm font-medium text-white shadow hover:bg-mainColor focus:outline-none focus:ring active:bg-mainColor sm:w-auto"
                href="/signup"
              >
                Get Started
              </a>
      
              <a
                class="block w-full rounded-lg px-12 py-3 text-sm font-medium text-mainBlack shadow hover:text-mainColor focus:outline-none focus:ring active:text-mainColor sm:w-auto"
                href="/signup"
              >
                Learn More
              </a>
            </div>
          </div>
        </div>
    </header>

    <!-- About us Section -->
    <section class="bg-gray-50 rounded-3xl py-16 my-10">
        <div class="container max-w-5xl px-4 py-12 mx-auto">
            <div class="grid gap-4 mx-4 sm:grid-cols-12">
                <div class="col-span-12 sm:col-span-3">
                    <div class="text-center sm:text-left mb-14 before:block before:w-24 before:h-3 before:mb-5 before:rounded-md before:mx-auto sm:before:mx-0">
                        <h2 class="mb-8 text-3xl font-bold leadi text-mainColor">About Us</h2>
                        <span class="text-sm font-bold tracki uppercase dark:text-gray-400">Git Quizzes</span>
                    </div>
                </div>
                <div class="relative col-span-12 px-4 space-y-6 sm:col-span-9">
                    <div class="col-span-12 space-y-12 relative px-4 sm:col-span-8 sm:space-y-8 sm:before:absolute sm:before:top-2 sm:before:bottom-0 sm:before:w-0.5 sm:before:-left-3 before:bg-secondayColor">
                        <div class="flex flex-col sm:relative sm:before:absolute sm:before:top-2 sm:before:w-4 sm:before:h-4 sm:before:rounded-full sm:before:left-[-35px] sm:before:z-[1] before:bg-mainColor">
                            <h3 class="text-xl font-semibold tracki">Our Mission</h3>
                            <p class="mt-3">
                                At Git Quizzes, our mission is to make learning engaging, competitive, and downright fun. We've created a space where answering daily questions isn't just a task; it's an adventure.
                                Whether you're a coding enthusiast, trivia buff, or just love a good challenge, Git Quizzes is your go-to destination for daily mental stimulation.
                            </p>
                        </div>
                        <div class="flex flex-col sm:relative sm:before:absolute sm:before:top-2 sm:before:w-4 sm:before:h-4 sm:before:rounded-full sm:before:left-[-35px] sm:before:z-[1] before:bg-mainColor">
                            <h3 class="text-xl font-semibold tracki">What Sets Us Apart</h3>
                            <p class="mt-3">
                                Daily Challenges: Immerse yourself in a world of daily questions crafted to keep your mind sharp and your curiosity piqued.
                                Category Variety: Choose from a diverse array of categories spanning coding, technology, general knowledge, and more. There's something for everyone.
                                Compete and Conquer: Challenge your friends, rise through the ranks, and conquer the leaderboard. Every victory is a step toward quiz domination.
                            </p>
                        </div>
                        <div class="flex flex-col sm:relative sm:before:absolute sm:before:top-2 sm:before:w-4 sm:before:h-4 sm:before:rounded-full sm:before:left-[-35px] sm:before:z-[1] before:bg-mainColor">
                            <h3 class="text-xl font-semibold tracki">Why Git Quizzes?</h3>
                            <p class="mt-3">
                                Because learning should be exciting, community-driven, and a bit competitive.
                                Git Quizzes isn't just a platform; it's a journey where each question answered is a step toward personal growth and triumph over the daily quiz challenges.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Quiz Categories Section -->
    <section class="bg-gray-50 rounded-3xl py-16 my-10">
        <div class="container mx-auto text-center">
            <h2 class="mb-8 text-3xl font-bold leadi text-center text-mainColor">Quiz Categories</h2>
            <p class="text-lg mb-8">Choose from a variety of categories to find quizzes that match your interests.</p>
            <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-5 mx-10">
                <!-- Category 1 -->
                <div class="bg-white p-4 rounded-md shadow-md hover:shadow-lg transition">
                    <div class="text-2xl mb-2 text-mainColor">
                        <i class='bx bx-code-curly bx-lg'></i>
                    </div>
                    <h3 class="text-xl font-semibold mb-2">Coding</h3>
                    <p class="text-gray-600">Challenge your coding skills with programming-related quizzes.</p>
                </div>

                <!-- Category 2 -->
                <div class="bg-white p-4 rounded-md shadow-md hover:shadow-lg transition">
                    <div class="text-2xl mb-2 text-mainColor">
                        <i class='bx bxl-periscope bx-lg'></i>
                    </div>
                    <h3 class="text-xl font-semibold mb-2">Geography</h3>
                    <p class="text-gray-600">Explore the world with quizzes about countries, capitals, and landmarks.</p>
                </div>

                <!-- Category 3 -->
                <div class="bg-white p-4 rounded-md shadow-md hover:shadow-lg transition">
                    <div class="text-2xl mb-2 text-mainColor">
                        <i class='bx bx-test-tube bx-lg'></i>
                    </div>
                    <h3 class="text-xl font-semibold mb-2">Science</h3>
                    <p class="text-gray-600">Dive into the world of science with quizzes spanning various scientific disciplines.</p>
                </div>

                <!-- Category 4 -->
                <div class="bg-white p-4 rounded-md shadow-md hover:shadow-lg transition">
                    <div class="text-2xl mb-2 text-mainColor">              
                        <i class='bx bxs-landmark bx-lg'></i>
                    </div>
                    <h3 class="text-xl font-semibold mb-2">History</h3>
                    <p class="text-gray-600">Test your knowledge of historical events, figures, and timelines.</p>
                </div>
                <!-- Category 5 -->
                <div class="bg-white p-4 rounded-md shadow-md hover:shadow-lg transition">
                    <div class="text-2xl mb-2 text-mainColor">                       
                        <i class='bx bx-run bx-lg'></i>
                    </div>
                    <h3 class="text-xl font-semibold mb-2">Sports</h3>
                    <p class="text-gray-600">Challenge yourself with sports-related questions and trivia.</p>
                </div>

                <!-- Category 6 -->
                <div class="bg-white p-4 rounded-md shadow-md hover:shadow-lg transition">
                    <div class="text-2xl mb-2 text-mainColor">                        
                        <i class='bx bxs-music bx-lg'></i>
                    </div>
                    <h3 class="text-xl font-semibold mb-2">Music</h3>
                    <p class="text-gray-600">Explore your musical knowledge with quizzes about genres, artists, and history.</p>
                </div>
            </div>
            <p class="mt-8 text-gray-500">And more categories to discover...</p>
        </div>
    </section>

    <!-- How It Works Section -->
    <section class="bg-gray-50 rounded-3xl py-16 my-10">
        <div class="container max-w-5xl px-4 py-12 mx-auto">
            <div class="grid gap-4 mx-4 sm:grid-cols-12">
                <div class="col-span-12 sm:col-span-3">
                    <div class="text-center sm:text-left mb-14 before:block before:w-24 before:h-3 before:mb-5 before:rounded-md before:mx-auto sm:before:mx-0">
                        <h2 class="mb-8 text-3xl font-bold leadi text-mainColor">How It Works?</h2>
                        <span class="text-sm font-bold tracki uppercase dark:text-gray-400">Follow these simple steps to get started with our quiz app 👌:</span>
                    </div>
                </div>
                <div class="relative col-span-12 px-4 space-y-6 sm:col-span-9">
                    <div class="col-span-12 space-y-12 relative px-4 sm:col-span-8 sm:space-y-8 sm:before:absolute sm:before:top-2 sm:before:bottom-0 sm:before:w-0.5 sm:before:-left-3 before:bg-secondayColor">
                        <div class="flex flex-col sm:relative sm:before:absolute sm:before:top-2 sm:before:w-4 sm:before:h-4 sm:before:rounded-full sm:before:left-[-35px] sm:before:z-[1] before:bg-mainColor">
                            <li class="flex items-center space-x-4 md:ml-20">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-5 h-5 fill-current text-secondayColor">
                                    <path d="M426.072,86.928A238.75,238.75,0,0,0,88.428,424.572,238.75,238.75,0,0,0,426.072,86.928ZM257.25,462.5c-114,0-206.75-92.748-206.75-206.75S143.248,49,257.25,49,464,141.748,464,255.75,371.252,462.5,257.25,462.5Z"></path>
                                    <polygon points="221.27 305.808 147.857 232.396 125.23 255.023 221.27 351.063 388.77 183.564 366.142 160.937 221.27 305.808"></polygon>
                                </svg>
                                <span class="font-semibold">Sign in or create an account to access personalized quizzes.</span>
                            </li>
                        </div>
                        <div class="flex flex-col sm:relative sm:before:absolute sm:before:top-2 sm:before:w-4 sm:before:h-4 sm:before:rounded-full sm:before:left-[-35px] sm:before:z-[1] before:bg-mainColor">
                            <li class="flex items-center space-x-4 md:ml-20">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-5 h-5 fill-current text-secondayColor">
                                    <path d="M426.072,86.928A238.75,238.75,0,0,0,88.428,424.572,238.75,238.75,0,0,0,426.072,86.928ZM257.25,462.5c-114,0-206.75-92.748-206.75-206.75S143.248,49,257.25,49,464,141.748,464,255.75,371.252,462.5,257.25,462.5Z"></path>
                                    <polygon points="221.27 305.808 147.857 232.396 125.23 255.023 221.27 351.063 388.77 183.564 366.142 160.937 221.27 305.808"></polygon>
                                </svg>
                                <span class="font-semibold">Choose a quiz category that interests you.</span>
                            </li>
                        </div>
                        <div class="flex flex-col sm:relative sm:before:absolute sm:before:top-2 sm:before:w-4 sm:before:h-4 sm:before:rounded-full sm:before:left-[-35px] sm:before:z-[1] before:bg-mainColor">
                            <li class="flex items-center space-x-4 md:ml-20">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-5 h-5 fill-current text-secondayColor">
                                    <path d="M426.072,86.928A238.75,238.75,0,0,0,88.428,424.572,238.75,238.75,0,0,0,426.072,86.928ZM257.25,462.5c-114,0-206.75-92.748-206.75-206.75S143.248,49,257.25,49,464,141.748,464,255.75,371.252,462.5,257.25,462.5Z"></path>
                                    <polygon points="221.27 305.808 147.857 232.396 125.23 255.023 221.27 351.063 388.77 183.564 366.142 160.937 221.27 305.808"></polygon>
                                </svg>
                                <span class="font-semibold">Answer the quiz questions and test your knowledge.</span>
                            </li>
                        </div>
                        <div class="flex flex-col sm:relative sm:before:absolute sm:before:top-2 sm:before:w-4 sm:before:h-4 sm:before:rounded-full sm:before:left-[-35px] sm:before:z-[1] before:bg-mainColor">
                            <li class="flex items-center space-x-4 md:ml-20">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-5 h-5 fill-current text-secondayColor">
                                    <path d="M426.072,86.928A238.75,238.75,0,0,0,88.428,424.572,238.75,238.75,0,0,0,426.072,86.928ZM257.25,462.5c-114,0-206.75-92.748-206.75-206.75S143.248,49,257.25,49,464,141.748,464,255.75,371.252,462.5,257.25,462.5Z"></path>
                                    <polygon points="221.27 305.808 147.857 232.396 125.23 255.023 221.27 351.063 388.77 183.564 366.142 160.937 221.27 305.808"></polygon>
                                </svg>
                                <span class="font-semibold">View your quiz history and track your progress in your profile.</span>
                            </li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- FAQ Section -->
    <section class="bg-gray-50 rounded-3xl py-16 my-10">
        <div class="container max-w-5xl px-4 py-12 mx-auto space-y-6">
            <h1 class="mb-8 text-3xl font-bold leadi text-center text-mainColor">Frequently Asked Questions (FAQ)</h1>
            <details
            class="group rounded-lg bg-mainGrey p-6 [&_summary::-webkit-details-marker]:hidden"
            open
            >
            <summary
                class="flex cursor-pointer items-center justify-between gap-1.5 text-gray-900"
            >
                <h2 class="font-medium">
                    1. How does Git Quizzes work?
                </h2>
        
                <span class="relative h-5 w-5 shrink-0">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="absolute inset-0 h-5 w-5 opacity-100 group-open:opacity-0"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="#616f67"
                    stroke-width="2"
                >
                    <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
                    />
                </svg>
        
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="absolute inset-0 h-5 w-5 opacity-0 group-open:opacity-100"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="#616f67"
                    stroke-width="2"
                >
                    <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
                    />
                </svg>
                </span>
            </summary>
        
            <p class="mt-4 leading-relaxed text-gray-700">
                Git Quizzes operates on a simple yet exciting concept.
                Each day, we present you with a fresh set of questions in diverse categories.
                You can choose your preferred category, answer the questions, and accumulate points.
                Compete with friends, climb the ranks, and conquer daily challenges.
            </p>
            </details>
        
            <details
            class="group rounded-lg bg-mainGrey p-6 [&_summary::-webkit-details-marker]:hidden"
            >
            <summary
                class="flex cursor-pointer items-center justify-between gap-1.5 text-gray-900"
            >
                <h2 class="font-medium">
                    2. Are the quizzes free to participate in?
                </h2>
        
                <span class="relative h-5 w-5 shrink-0">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="absolute inset-0 opacity-100 group-open:opacity-0"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="#616f67"
                    stroke-width="2"
                >
                    <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
                    />
                </svg>
        
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="absolute inset-0 opacity-0 group-open:opacity-100"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="#616f67"
                    stroke-width="2"
                >
                    <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
                    />
                </svg>
                </span>
            </summary>
        
            <p class="mt-4 leading-relaxed text-gray-700">
                Yes, participating in quizzes on Git Quizzes is completely free.
                We believe in making learning and knowledge-sharing accessible to everyone.
            </p>
            </details>
            <details
            class="group rounded-lg bg-mainGrey p-6 [&_summary::-webkit-details-marker]:hidden"
            >
            <summary
                class="flex cursor-pointer items-center justify-between gap-1.5 text-gray-900"
            >
                <h2 class="font-medium">
                    3. Can I compete with my friends?
                </h2>
        
                <span class="relative h-5 w-5 shrink-0">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="absolute inset-0 opacity-100 group-open:opacity-0"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="#616f67"
                    stroke-width="2"
                >
                    <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
                    />
                </svg>
        
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="absolute inset-0 opacity-0 group-open:opacity-100"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="#616f67"
                    stroke-width="2"
                >
                    <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
                    />
                </svg>
                </span>
            </summary>
        
            <p class="mt-4 leading-relaxed text-gray-700">
                Absolutely! Git Quizzes encourages friendly competition.
                Challenge your friends, compare scores, and see who can conquer more quizzes.
                It's a great way to have fun and learn together.
            </p>
            </details>
            <details
            class="group rounded-lg bg-mainGrey p-6 [&_summary::-webkit-details-marker]:hidden"
            >
            <summary
                class="flex cursor-pointer items-center justify-between gap-1.5 text-gray-900"
            >
                <h2 class="font-medium">
                    4. Is Git Quizzes suitable for educational purposes?
                </h2>
        
                <span class="relative h-5 w-5 shrink-0">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="absolute inset-0 opacity-100 group-open:opacity-0"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="#616f67"
                    stroke-width="2"
                >
                    <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
                    />
                </svg>
        
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="absolute inset-0 opacity-0 group-open:opacity-100"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="#616f67"
                    stroke-width="2"
                >
                    <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
                    />
                </svg>
                </span>
            </summary>
        
            <p class="mt-4 leading-relaxed text-gray-700">
                Absolutely! Git Quizzes is designed not only for entertainment but also as a supplementary educational tool.
                It's a fun way to reinforce knowledge, test understanding, and learn new facts in various subjects.
            </p>
            </details>
        </div>
    </section>
{% endblock %}
