{% extends "layout.html" %}

{% block title %}
    Quiz Page
{% endblock %}

{% block main %}
    <h1 class="text-4xl text-mainBlack my-[15px] ml-2 font-bold">Quiz</h1>
    <section class="bg-white rounded-lg p-2 shadow my-4">
        <h1 class="text-xl text-center font-bold mb-4">Select type of Questions you want:</h1>
        <form action="/quiz" method="post" class="flex flex-col md:flex-row justify-evenly items-center p-5 gap-6">
            <select name="category"  class="bg-mainGrey border border-mainColor w-full rounded-lg p-2 text-gray-900 sm:max-w-xs sm:text-sm sm:leading-6" required>
                <option disabled selected>Choose Category</option>
                {% for categorie in categories %}
                    <option value="{{ categorie.id }}">{{ categorie.name }}</option>
                {% endfor %}
            </select>
            <select class="bg-mainGrey border border-mainColor w-full rounded-lg p-2 text-gray-900 sm:max-w-xs sm:text-sm sm:leading-6" name="difficulty" required>
                <option disabled selected>Choose Difficulty</option>
                    <option value="easy">Easy</option>
                    <option value="medium">Medium</option>
                    <option value="hard">Hard</option>
            </select>
            <button type="submit" name="form1_submit" class="w-full text-base font-semibold text-white bg-mainColor py-2 rounded-lg sm:max-w-xs sm:text-sm sm:leading-6">Get Questions</button>
        </form>
    </section>
    {% if quiz_display == 'block' %}
        <section class="bg-white rounded-lg p-4 shadow">
            <h1 class="text-xl text-center font-bold my-4">10 Questions About {{ category_name }} - Good Luck 🫡👌</h1>
            <form action="/quiz" method="post" class="grid grid-cols-1 gap-8">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-6 my-2">
                    {% for question in data %}
                        <div class="bg-mainGrey shadow rounded-lg flex flex-col justify-evenly items-start gap-4 p-4">
                            <h3 class="my-2 text-lg font-semibold">{{ question.question | safe }}</h3>
                            <div class="w-full flex flex-col justify-evenly items-start">
                                {% for answer in question.incorrect_answers %}
                                <div class="w-full flex items-center mb-4">
                                    <input 
                                        id="{{ answer | safe}}{{question.id}}"
                                        type="radio"
                                        name="qus{{question.id}}"
                                        value="{{ answer }}"
                                        class="peer hidden"
                                    />
                                    <label 
                                        for="{{ answer | safe}}{{question.id}}"
                                        class="w-full flex items-center gap-x-4 rounded-lg px-5 py-2 text-sm font-medium text-mainBlack bg-white transition hover:bg-mainColor hover:text-white peer-checked:bg-mainColor peer-checked:text-white cursor-pointer"
                                    > 
                                        <h4 class="text-base font-semibold">{{ answer | safe}}</h4>
                                    </label>
                                </div>
                                {% endfor %}
                            </div>
                            <p>{{ question.correct_answer | safe}}</p>
                        </div>
                    {% endfor %}
                </div>
                <button type="submit" name="form2_submit" class="w-full text-base mx-auto font-semibold text-white bg-mainColor mb-4 px-4 py-2 rounded-lg sm:max-w-xs sm:text-sm sm:leading-6">Submit Your Answers</button>
            </form>
        </section>
    {% endif %}
{% endblock %}