<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <!-- Boxicons CSS -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>GitQuizzes - Home</title>
</head>
<body class="xl:mx-20 2xl:mx-72 bg-mainGrey text-mainBlack">

    <!-- navbar -->
    <nav class="bg-secondayColor text-mainGrey relative px-6 py-4 flex justify-between items-center my-4 rounded-3xl">
        <a class="text-3xl font-bold leading-none" href="/">
            <h1 class="font-extrabold text-2xl">Git-Quizzes</h1>
        </a>
        <div class="lg:hidden">
            <button class="navbar-burger flex items-center text-mainColor p-3">
                <svg class="block h-4 w-4 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <title>Mobile menu</title>
                    <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
                </svg>
            </button>
        </div>
        <a class="hidden lg:inline-block lg:ml-auto lg:mr-3 py-2 px-6 bg-gray-50 hover:bg-gray-100 text-sm text-mainBlack font-bold  rounded-lg transition duration-200" href="/signup-in">Sign In</a>
        <a class="hidden lg:inline-block py-2 px-6 bg-mainColor hover:bg-mainColor text-sm font-bold text-white rounded-lg transition duration-200" href="/signup-in">Sign up</a>
    </nav>
    <div class="navbar-menu relative z-50 hidden">
        <div class="navbar-backdrop fixed inset-0 bg-mainBlack opacity-25"></div>
        <nav class="fixed top-0 left-0 bottom-0 flex flex-col w-5/6 max-w-sm py-6 px-6 bg-white border-r overflow-y-auto">
            <div class="flex items-center mb-8">
                <a class="mr-auto text-3xl font-bold leading-none" href="/">
                    <h1 class="font-extrabold text-2xl">Git-Quizzes</h1>
                </a>
                <button class="navbar-close">
                    <svg class="h-6 w-6 text-gray-400 cursor-pointer hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#616f67">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                    </svg>
                </button>
            </div>
            <div class="mt-auto">
                <div class="pt-6">
                    <a class="block px-4 py-3 mb-3 leading-loose text-xs text-center font-semibold bg-gray-50 hover:bg-gray-100 rounded-lg" href="/signup-in">Sign in</a>
                    <a class="block px-4 py-3 mb-2 leading-loose text-xs text-center text-white font-semibold bg-mainColor hover:bg-mainColor  rounded-lg" href="/signup-in">Sign Up</a>
                </div>
                <p class="my-4 text-xs text-center text-gray-400">
                    <span>Copyright © 2023 - GIT Quizzes</span>
                </p>
            </div>
        </nav>
    </div>
</body>
</html>